.btn{
  margin: 5px;
}
label{
  font-size: 2em;
}
.item
{
  margin:10px 0;
}
.item-style.complete{
  border-left: 10px solid green;
}
.item-style{
  border: 1.5px solid;
  margin: 5px 0;
  border-radius: 5px;
  /*background-color: moccasin;*/
}
/* You can add global styles to this file, and also import other style files // You can add global styles to this file, and also import other style files */

p.timer {
  width:35%;
  margin:0 auto;
  border: 1px solid #602509;
  border-radius: 10px;
  box-shadow: 2px 2px #ccc;
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.timer .text {
  font-size: 10px;
}
