<h1 class="contact"><b>Contact Us</b></h1>

<div class="card places floatLeft">
  <div class="card-body">
    <h4 class="card-title"><a><b><u>Eswar Valluru</u></b></a></h4>
    <img src="../../assets/e2.jpeg" height="100px" width="100px" class="contactimg">
    <span class="card-text"><label class="lbl">Designation:</label> <label class="lblans">CRM</label></span>
    <span class="card-text"><label class="lbl">Phone Number:</label><label class="lblans">612-559-4753</label></span>
    <span class="card-text"><label class="lbl">Email Id:</label><label class="lblans">eswarvalluru@gmail.com</label></span>
  </div>
</div>


<div class="card places">
  <div class="card-body">
    <h4 class="card-title"><a><b><u>Sai Jaswanth Gattidi</u></b></a></h4>
    <img src="../../assets/j1.jpeg" height="100px" width="100px" class="contactimg">
    <span class="card-text"><label class="lbl">Designation:</label> <label class="lblans">Manager</label></span>
    <span class="card-text"><label class="lbl">Phone Number:</label><label class="lblans">816-703-7685</label></span>
    <span class="card-text"><label class="lbl">Email Id:</label><label class="lblans">saijaswanthgattidi@gmail.com</label></span>
  </div>
</div>

<div class="card places floatLeft">
  <div class="card-body">
    <h4 class="card-title"><a><b><u>Vishnu Vardhan Reddy Manne</u></b></a></h4>
    <img src="../../assets/vv2.jpeg" height="100px" width="100px" class="contactimg">
    <span class="card-text"><label class="lbl">Designation:</label> <label class="lblans">CEO</label></span>
    <span class="card-text"><label class="lbl">Phone Number:</label><label class="lblans">816-663-3935</label></span>
    <span class="card-text"><label class="lbl">Email Id:</label><label class="lblans">vishnuvardhanmanne2201@gmail.com</label></span>
  </div>
</div>

<div class="card places">
  <div class="card-body">
    <h4 class="card-title"><a><b><u>Vandith Thotla</u></b></a></h4>
    <img src="../../assets/v2.jpeg" height="100px" width="100px" class="contactimg">
    <span class="card-text"><label class="lbl">Designation:</label> <label class="lblans">Finance Manager</label></span>
    <span class="card-text"><label class="lbl">Phone Number:</label><label class="lblans">925-329-7339</label></span>
    <span class="card-text"><label class="lbl">Email Id:</label><label class="lblans">thotla.vandith@gmail.com</label></span>
  </div>
</div>
