/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('https://tse1.mm.bing.net/th?id=OIP.pyqv-4rKRl1GBnhDiCA0RQHaEo&pid=Api&rs=1&c=1&qlt=95&w=194&h=121');
  background-size: cover;
  background-repeat: no-repeat;
}
