<div class="parent-container">
  <div class="child-container">
    <h2 style="margin-top: 250px;">Hello, Welcome to <b>Solo Friendly!!! Your Tourist Guide</b></h2>
    <span class="desc" style="font-size: 18px;">Travel has helped us to understand the meaning of life and it has helped
      us become better people. Each time we travel, we see the world with new eyes. Throughout our lives, people have
      thought that because we keep traveling and searching for new things to do, we are not focused.
      They have often thought we are flaky or unfocused.But travel helped us find our purpose and put focus into our lives.
      The more we got lost in our travels, the richer our lives became.
      </span><br><br><br>
    <form [formGroup]="homeForm">
      <div class="form-group" style="margin-top: 100px;">
        <label style="font-size: 18px; margin-left: -9%;">Subscribe to our news letter:</label><br><br>
        <div class="input-container" style="float: left; margin-left:34%">
          <i class="fa fa-envelope"></i>
          <input class="input-field" type="text" placeholder="name@example.com" style="width: 260px; margin-top:-8px" #recipe>
        </div>
        <br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5 button">Submit</button>
      </div>
    </form>
  </div>
</div>
