<div class="parent-container">
  <div class="child-container">
    <h2><b>Food Cravings???
    </b></h2><br>
    <form [formGroup]="searchRecipeForm" ]>
      <div class="form-group" >
        <div class="form-group col-lg-6 col-lg-offset-3 input-group" style="float: left">
          <div class="input-container" style="float: left; font-size: 24px;">
            <i class="fa fa-cutlery"></i>
            <input class="input-field" type="text" placeholder="Recipe name" style="width: 260px; margin-top:-8px" #recipe>
          </div>
          <div class="input-container" style="margin-left: 48%; font-size: 24px;">
            <i class="fa fa-map-marker"></i>
            <input class="input-field" type="text" placeholder="Place" style="width: 260px; margin-top:-8px" #place>
          </div>
        </div>
        <br>
        <div>
          <button (click)="getVenues()" class="btn btn primary col-lg-2 col-lg-offset-5  button" type="button"><b>Hit Me !!!</b></button>
        </div>
      </div>
    </form>
  </div>
</div><br><br>
<div class="container" *ngIf="recipeList">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading" style="background-color: #4CAF50; color: white"><b>How to make?</b></div>
        <div class="panel-body">
          <div *ngFor="let recipe of recipeList" class="list-group-item clearfix">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ recipe.recipe.label }}</h4>
              <a href="{{recipe.recipe.url}}" class="list-group-item-text">{{ recipe.recipe.url }}</a>
              <p>{{recipe.recipe.source}}</p>
              <p *ngFor="let ingredient of ingredientLines">
                <span>{{ingredient}}</span>
              </p>
            </div>

            <span class="pull-right">
          <img src="{{recipe.recipe.image}}" style="width: 70px; height: 50px;" align="center"/>

      </span>

          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading" style="background-color: #4CAF50; color: white"><b>Where to get?</b></div>
        <div class="panel-body">

          <div *ngFor="let venue of venueList" class="list-group-item clearfix">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ venue.name }}</h4>
              <p>{{venue.location.formattedAddress[0]}}</p>
              <p>{{venue.location.formattedAddress[1]}}</p>
              <p>{{venue.location.formattedAddress[2]}}</p>
            </div>

            <span class="pull-right">
             <a href="http://maps.google.com/maps?saddr={{currentLat}},{{currentLong}}
             &daddr={{venue.location.formattedAddress[0]}},{{venue.location.formattedAddress[1]}},{{venue.location.formattedAddress[2]}}">
               <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
      </span>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>



